input {
    margin: 5px 10px;
}

button {
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
    font-weight:bold;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
}

button:hover {
    box-shadow: 0 2px 4px;
}
button:active{
    transform:scale(0.95);
}

.delete {
    background-color: rgb(253, 126, 152);
}

.notification {
    display: inline-block;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.notification.error {
    color: red;
    background: rgba(211, 211, 211, 0.325);
}

.notification.success {
    color: rgb(13, 149, 36);
    background: rgba(211, 211, 211, 0.325);
}